<!--
/**
 * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_CsImportExport
  * @author  	 CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license      http://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
		<section id="ced_csmarketplace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
			<group id="general"  showInDefault="1">
                <field id="activation_csimportexport" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Mass Import Export System</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
			<group id="csimportexport" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					
					 <label>Mass Import Export</label>
					<field id="notify_admin" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Notify Admin For Importing Process</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>	
				<field id="allownotification" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Notification Email</label>
					<source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
               <!--  <field id="allow_importing" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Importing Process</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
               <!--  <field id="allow_exporting" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Exporting Process</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->		
			</group>
        </section>
	</system>
</config>
