<?xml version="1.0"?>
<!-- 
/**
 * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_CsMessaging
  * @author       CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license      http://cedcommerce.com/license-agreement.txt
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <ced_csmarketplace>
            <csmessaging>
                <active>0</active>
                <active1>0</active1>
                <active2>0</active2>
                <active3>0</active3>
            </csmessaging>
        </ced_csmarketplace>
        <vendor_acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <vendor>
                    <title>Vendor Panel</title>
                    <path>#</path>
                    <sort_order>1</sort_order>
                    <children>
                        <vendor_messaging>
                            <ifconfig>ced_csmarketplace/csmessaging/active</ifconfig>
                            <title>Messaging</title>
                            <sort_order>60</sort_order>
                            <path>#</path>
                            <children>
                                <vendor_admin_chat>
                                    <title>Vendor Admin</title>
                                    <sort_order>10</sort_order>
                                    <path>csmessaging/index/admin</path>
                                </vendor_admin_chat>
                                <vendor_customer_chat>
                                    <title>Vendor Customer</title>
                                    <sort_order>20</sort_order>
                                    <path>csmessaging/customer/customer</path>
                                </vendor_customer_chat>
                            </children>
                        </vendor_messaging>
                    </children>
                </vendor>
            </resources>
        </vendor_acl>
        <ced_csmarketplace>
            <csmessaging>
                <active>0</active>
                <active1>0</active1>
                <active2>0</active2>
                <active3>0</active3>
            </csmessaging>
        </ced_csmarketplace>
    </default>
</config>





