<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_AdvanceConfigurable
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ced_AdvanceConfigurable::advanceconfigurable" title="Advance Configurable" module="Ced_AdvanceConfigurable" sortOrder="15" resource="Ced_AdvanceConfigurable::advanceconfigurable"/>
        
        <add id="Ced_AdvanceConfigurable::manageadvanceconfig_configuration" title="Advance Configurable Configuration" module="Ced_AdvanceConfigurable" sortOrder="80" parent="Ced_AdvanceConfigurable::advanceconfigurable" resource="Ced_CsMarketplace::manageadvanceconfig_configuration" />
        <add id="Ced_AdvanceConfigurable::advanceconfig_configuration" title="Advance Configurable Configuration" module="Ced_AdvanceConfigurable" sortOrder="10" parent="Ced_AdvanceConfigurable::manageadvanceconfig_configuration" action="adminhtml/system_config/edit/section/configuration" resource="Ced_AdvanceConfigurable::advanceconfig_configuration"/>
    </menu>
</config>
