<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsTableRateShipping
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">	
	<preference for="Magento\OfflineShipping\Model\Carrier\Tablerate" type="Ced\CsTableRateShipping\Model\Carrier\Tablerate" />
	<preference for="Magento\OfflineShipping\Controller\Adminhtml\System\Config\ExportTablerates" type="Ced\CsTableRateShipping\Controller\Adminhtml\System\Config\ExportTablerates" />
	<!--  <preference for="Magento\OfflineShipping\Model\ResourceModel\Carrier\Tablerate" type="Ced\CsTableRateShipping\Model\Resource\Carrier\Tablerate" />	-->
</config>
