<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsTransaction
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">	
	<!-- <event name="csmarketplace_vorders_save_after">
        <observer name="Ced_CsTransaction_Vorders_Save_After" instance="Ced\CsTransaction\Observer\VorderSaveAfter" shared="false" />
    </event> -->
    <!-- <event name="csmarketplace_vpayments_save_before">
        <observer name="Ced_CsTransaction_Vpayments_Save_Before" instance="Ced\CsTransaction\Observer\VpaymentsSaveBefore" shared="false" />
    </event> -->
    <event name="sales_order_invoice_save_after">
        <observer name="Ced_CsTransaction_Sales_Order_Invoice_Save_After" instance="Ced\CsTransaction\Observer\PrepareItemsForPayment" shared="false" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="Ced_CsOrder_Creditmemo_Create" instance="Ced\CsTransaction\Observer\PrepareItemsForRefund" shared="false" />
    </event>
	
</config>
