<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     VendorsocialLogin
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://cedcommerce.com/license-agreement.txt
  */
-->


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <system>
        <section id="ven_social" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Vendor Social Login</label>
            <tab>csmarketplace</tab>
            <resource>Ced_VendorsocialLogin::sociallogin_config</resource>
            <group id="ced_sociallogin_google" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Social Login Google Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Google Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Google API Client ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Google API Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ced_sociallogin_facebook" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Social Login Facebook Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Facebook Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Facebook App ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Facebook App Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ced_sociallogin_twitter" translate="label" type="text" sortOrder="30" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Social Login Twitter Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Twitter Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Consumer Key</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Consumer Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="ced_sociallogin_linkedin" translate="label" type="text" sortOrder="40" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Social Login Linkedin Configuration Options</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Linkedin Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Consumer Key</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Consumer Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
