/*========================================================
=            Section comment blue Color Swatch Css            =
========================================================*/
.slide .side-menu li .nav-second-level li a,
.ced-vendor-sidebar-nav .side-menu li .nav-second-level li a.active,
.nav-second-level > li > a,
.nav-third-level > li > a {
  background: #F96135 none repeat scroll 0 0!important;
  color: #fff!important;
}
.ced-vendor-sidebar-nav .side-menu li .nav-second-level li a.active:hover,
.nav.nav-second-level > li > a:hover,
.nav.nav-third-level > li > a:hover {
  background: #F96F35 none repeat scroll 0 0!important;
  color: #fff;
}
nav.navbar-default.navbar-static-top,
.page-wrapper .panel-default .panel-heading,
.ced-vendor-sidebar-nav .side-menu a.active,
.nav > li > a:focus{
  background-color: #FF5722!important;
} 
.nav > li > a:hover{
background-color:#EB734E!important;
}
.bellow-list-wrapper li a {
  background: #F26D43 none repeat scroll 0 0;
  border-bottom: 4px solid #FF5722;
}
.page-wrapper .page-main .btn-primary,
.btn-info,
.btn-warning,
.btn-success,
.btn-danger ,
.csmarketplace-account-approval .login-form-body-wrap .btn.btn-primary{
  background-color: #f26d43!important;
  border-color: #efa772!important;
  color:#ffffff!important;
}
.page-wrapper .page-main .btn-primary:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-success:hover,
.btn-danger:hover {
  background-color: #e2663f!important;
  border-color: #e0643d!important;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background: #E0643D none repeat scroll 0 0!important;
}
.ced-chart-filter li.active a {
  background: #EE714A none repeat scroll 0 0;
}
.ced-chart-filter {
  border: 1px solid #EE714A;
}
.x_panel.bg-c-blue {
  background: #1c72b9 none repeat scroll 0 0;
}
.x_panel.bg-c-green {
  background: #117828 none repeat scroll 0 0;
}
.x_panel.bg-c-yellow {
  background: #efb110 none repeat scroll 0 0;
}
.x_panel.bg-c-red {
  background: #ff3d37 none repeat scroll 0 0;
}
.for_print_order_button .box-title, .for_print_order_button .order-info {
  background: #FF5722 none repeat scroll 0 0;
}
.csmarketplace-vpayments-view .fieldset h2 {
  background: #FF5722 none repeat scroll 0 0!important;
}
.panel-body .pager .pages-items .item a span {
  color: #FF5722;
}
.dropdown-menu .top-lis a:hover {
  background-color: #FF5722;
}
.for_print_order_button .box-title,
.for_print_order_button .order-info,
.csmarketplace-vpayments-view .fieldset h2,
.dropdown-menu .top-lis a:hover {
  background: #FF5722 none repeat scroll 0 0!important;
}
.panel-body .pager .pages-items .item a span {
  color: #FF5722;
}
.csmarketplace-account-login .button,
.csmarketplace-account-create .button,
.csmarketplace-account-forgotpassword .button {
  background: #FF5722 none repeat scroll 0 0;
}
.csmarketplace-account-login .button:hover,
.csmarketplace-account-create .button:hover,
.csmarketplace-account-forgotpassword .button:hover {
  background: #E05428 none repeat scroll 0 0;
}
.userinfosider {
  background: #FF5722 none repeat scroll 0 0;
}
/*=====  End of Section comment blue Color Swatch Css  ======*/
/*=====  platinum color css  ======*/
.abs-action-primary, button.primary, 
.page-actions > button.action-primary, 
.page-actions .page-actions-buttons > button.action-primary, 
.page-actions > button.primary, 
.page-actions .page-actions-buttons > button.primary, 
.block-footer .action-add.primary, 
.page-actions > .block-footer .action-add.action-primary, 
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary, 
.page-actions > .block-footer .action-add.primary, 
.page-actions .page-actions-buttons > .block-footer .action-add.primary {
  background-color: #FF5722 !important;
  border-color: #FF5722 !important;
}
.admin__collapsible-block-wrapper .admin__collapsible-title{
  background-color: #FF5722 !important;
}
.admin__collapsible-block-wrapper .admin__collapsible-title:hover{
  color: #fff !important;
}
/* platinum html color */
.admin__page-section-title {
  background: #FF5722 none repeat scroll 0 0 !important;
}
.admin__page-nav-item._active, .admin__page-nav-item.ui-state-active {
  border-color: #FF5722;
}
.page-wrapper .page-main .btn-primary, .btn-info, .btn-warning, .btn-success, .btn-danger, .csmarketplace-account-approval .login-form-body-wrap .btn.btn-primary {
  background-color: #FF5722 !important;
  border-color: #FF5722 !important;
  color: #ffffff !important;
}
.ced-transactions-details .form-list .data.order-tables thead tr th {
  background-color: #FF5722 !important;
}
.dropdown-tasks .top-lis .progress .progress-bar {
  background: #FF5722 none repeat scroll 0 0;
}