<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsMultiShipping
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">	
	<preference for="Magento\Shipping\Model\Shipping" type="Ced\CsMultiShipping\Model\Shipping" />
	<preference for="Magento\Quote\Model\Cart\ShippingMethodConverter" type="Ced\CsMultiShipping\Model\Cart\ShippingMethodConverter" />	
	<preference for="Magento\Checkout\Model\ShippingInformationManagement" type="Ced\CsMultiShipping\Model\ShippingInformationManagement" />
</config>
