<?xml version="1.0"?>
<!--
 /**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_CsProduct
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ced_csmarketplace"  showInDefault="1">
            <group id="general"  showInDefault="1">
                <field id="ced_vproduct_activation" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Advanced Product System</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>ced_csmarketplace/general/ced_vproduct_activation</config_path>
                </field>
            </group>
			<group id="vproducts"  showInDefault="1">
                <field id="set" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Product Attribute Set</label>
					<config_path>ced_vproducts/general/set</config_path>
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
					<source_model>Ced\CsMarketplace\Model\System\Config\Source\Vproducts\Set</source_model>
                </field>
				
				<field id="relatedproducts" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Related Products </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				
				<field id="upsells" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Up-Sells Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				
				<field id="crosssells" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cross-Sells Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				
				<field id="customoptions" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Options Tab</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>			
        </section> 
    </system>
</config>
