<?xml version="1.0"?>
<!-- 
/**
 * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category  Ced
  * @package   Ced_CsVendorAttribute
  * @author    CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license      http://cedcommerce.com/license-agreement.txt
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
		<section id="ced_csmarketplace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
				<field id="activation_csvendorattribute" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enable Vendor Attribute System</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<config_path>ced_csvendorattribute/general/activation</config_path>
				</field>	
				</group>
				<group id = "vendorattribute" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
				 <label>Vendor Attribute Configuration</label>
				<field id="allowed_image_type" translate="label" type="textarea" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Allowed Image types for Vendor Input</label>
					<config_path>ced_csvendorattribute/vendorattribute/allowed_image_type</config_path>
					<comment>Add more using comma(,) separate.</comment>
				</field>	
				<field id="allowed_file_type" translate="label" type="textarea" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed File types for Vendor Input</label>
					<config_path>ced_csvendorattribute/vendorattribute/allowed_file_type</config_path>
					<comment>Add more using comma(,) separate.</comment>
                </field>		
			</group>
        </section>
	</system>
</config>
