<?xml version="1.0"?>
 
<!--
  ~ Copyright © 2016 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <sociallogin>
            <general>
                <enable_socials>1</enable_socials>
                <position>header,popup</position>
                <direction>1</direction>
                <select_redirect_page>1</select_redirect_page>
                <number_show>1</number_show>
            </general>

            <fblogin>   
                <is_active>1</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>1</sort_order>
            </fblogin>

            <twlogin>   
                <is_active>1</is_active>
                <sort_order>3</sort_order>
            </twlogin>

            <instalogin>    
                <is_active>1</is_active>
                <sort_order>3</sort_order>
            </instalogin>

            <yalogin>   
                <is_active>1</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>5</sort_order>
            </yalogin>

            <gologin>   
                <is_active>1</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>2</sort_order>
            </gologin>

            <aollogin>  
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>6</sort_order>
            </aollogin>

            <wplogin>   
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>7</sort_order>
            </wplogin>

            <callogin>  
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>8</sort_order>
            </callogin>

            <orglogin>  
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>9</sort_order>
            </orglogin>

            <fqlogin>   
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>10</sort_order>
            </fqlogin>

            <livelogin> 
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>11</sort_order>
            </livelogin>

            <mplogin>   
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>12</sort_order>
            </mplogin>

            <linklogin>
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>4</sort_order>
            </linklogin>

            <openlogin>
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>13</sort_order>
            </openlogin>

            <ljlogin>
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>14</sort_order>
            </ljlogin>

            <perlogin>
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>14</sort_order>
            </perlogin>

            <selogin>
                <is_active>0</is_active>
                <is_send_password_to_customer>0</is_send_password_to_customer>
                <sort_order>14</sort_order>
            </selogin>
        </sociallogin>
    </default>
</config>