<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * https://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_CsMultiSeller
  * @author      CedCommerce Core Team <connect@cedcommerce.com >
  * @copyright   Copyright CEDCOMMERCE (https://cedcommerce.com/)
  * @license      https://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="ced_csmarketplace" showInDefault="1" showInWebsite="1" showInStore="0">
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="0">
				<field id="activation_csmultiseller" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Vendor Select and Sell System</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>ced_csmultiseller/general/activation_csmultiseller</config_path>                    
                </field>                
            </group>    
             <group id="ced_csmultiseller" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Vendor Select and Sell</label>
                <frontend_model>Ced\CsMultiSeller\Block\Adminhtml\System\Config\Frontend\Fieldset</frontend_model>
				<field id="minprice" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Minimum Starting Price on Product Page</label>
					<config_path>ced_csmarketplace/ced_csmultiseller/minprice</config_path>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<frontend_model>Ced\CsMultiSeller\Block\Adminhtml\System\Config\Frontend\Enable</frontend_model>
                </field> 
                <field id="approval" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Product Admin Approval required</label>
					<config_path>ced_csmarketplace/ced_csmultiseller/approval</config_path>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<frontend_model>Ced\CsMultiSeller\Block\Adminhtml\System\Config\Frontend\Enable</frontend_model>
                </field>                
            </group>
                      
          </section>
    </system>
</config>